/* index.css */

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
  overflow-x: hidden;
}
/* .container {
  margin: auto;
  width: 100%;
} */
.dropdown-menu a:hover {
  background-color: white;
}

 
.subheader{
    background-color: #f2e0bd;
    color: #000;
  }
.subheader li a{
  color: black;
}
  .mainheader{
    background-color: #1e3e59;
    color: white;
  }
  .mainheader a{
    list-style: none;
    text-decoration: none;
    color: white;
  }
  #section-a i {
      color: white;
      background-color: #1e3e59;
      width: 55px;
      height: 55px;
      border-radius: 50%;
      padding: 13px 8px 15px 8px;
  }
  #section-a{
    background-color: #f2e0bd;
  }
  #section-b{
    background-color: #33475c;
    color: #fff;
 
  }
  #projects{
    background-color: #f2e0bd;
 }
  
  #section-c{
      background-color: #f2e0bd;
      color: #1e3e59;
      
  }
  #section-c a{
      color: #1e3e59;
  }
  #section-c li{
    list-style: none;
   
  }
  .projecttext{
      color: #1e3e59;
  }
  #copyright{
      background-color: #1e3e59;
      color: white;
      font-size: 13px;

      
  }
  .image2 {
      height: 330px;
      width: 90%;
      border-radius: 7%;
      box-shadow: 23px 23px 43px -16px rgba(0, 0, 0, 0.5);
  }
   .line {
      
      border: 0.1rem solid  #1e3e59;
      width: 5rem;
  }
  .line1{
      border: 1.5px solid  #1e3e59;
  }
  .endlinks  li {
    list-style: none;
  }
  .endlinks  li a{
    text-decoration: none;
    color:  #1e3e59;
    font-size: 1.2rem;
  }
  /* .footerlinks{
    margin: 20px 0px 20px 0px;
  } */
 
  .footerlinks li{
    list-style: none;
  }
  .footerlinks li a{
    text-decoration: none;
    color:  #1e3e59;
    
  }
  #projects a:hover{
    text-decoration: none;
    color:  #E67B4B;
  }
  
  .contacts{
    padding-left: 6rem;
  }
  .footertext{
    padding-bottom: 1rem;
    border-bottom: 0.2rem solid  #1e3e59;
    width: 7rem;
  }
  /* about.css */
  .aboutsec{
    background-color: wheat;
    height: 20rem;
    line-height: 1.8;
    color: black;
  }
 
  .aboutimg{
    background-image: url("../about_mission_imgs/construction.jpg") ;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    height: 20rem;
    line-height: 1.6;
   
  }
  .middleline{
    border: 1.5px solid  #1e3e59;
    width: 15rem;
  }
  
  .bg-image{
    width: 100%;
    height: 20rem;
    background-image: url("../home_slider_imgs/slider4.jpg") ;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
  }
  
  .bg-text{
    position: absolute;
    top: 50%;
    left: 15%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 2;
  }
  .bg-text h2{
    margin: 0;
    text-align: center;
  }

  .plan{
    background-color: #1e3e59;
    color: white;
   
  }
  .planimg{
    background-color: #f2e0bd;

  }
  .img-fluid {
    max-width: 100%;
    height: auto;

  }
  .blockimg{
    background-color: #f2e0bd;
    padding: 2rem;
  }
  .projplan{
    background-color: #c5e5e0;
  }
  .features{
    font-size: 0.8rem;
  }
 
  /* contact.html */

  .contactsec{
    background-image: url("../contact_imgs/contact-page.jpg") ;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    height: 20rem;
    line-height: 1.6;
  }
 
  .contactext{
    font-size: 4rem;
    color: #f2e0bd;
   
  }
  .infocont{
    background-color:  #1e3e59;
    color: white;
  }
  .continfo{
    background-color: #f2e0bd;
    color: black;
  }
  .contimage{
    height: 15rem;
    width: 90%;
    /* border-radius: 7%; */
    box-shadow: 23px 23px 43px -16px rgba(0, 0, 0, 0.5);
  }
/* greenalpha.html */
.under_const_img{
    background-image: url("../underconstruction01.jpg") ;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    height: 20rem;
    line-height: 1.6;
}
#floorplans li a{
   text-decoration: none;
   color: white;
}
#floorplans li{
  list-style: none;
}

#blocks li a{
  text-decoration: none;
  color: white;
}
#blocks li{
 list-style: none;
}




/* index.html media quries */
@media only screen and (max-width: 600px) {
  .subheader{
      display: none;
  }
  #grid1{
    text-align: center;
  }
  #grid2{
    text-align: center;
  }
  .line {
      
    border: none;
    
    
  }
  
 
}

@media only screen and (min-width: 768px) {
  .gridslide{
    margin-top: 4rem;
  }
}